html, body {
    width:100%;
    height:100%;
    font-size:16px;
    margin:0
}

header, footer {
    padding:1em;
}

section {
    background-color:#eeeeee;
    padding:1em;
    margin:1em;
}

.contenu {
    border:1px solid #123456;
    box-sizing:border-box;
    overflow:hidden;
    height:100px;
    transition:all 1s;
}

.cacher {
    height:0;
}

.contenu p {
    padding:1em;
}

input, textarea, button {
    padding:0.5em;
    margin:0.5em;
}

article {
    padding:1em;
    margin:1em;
    border:1px solid #666666;
    background-color:#ffffff;
}


.bouton {
    cursor:pointer;
}
